<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Poet 2.0 - The Poetry Generator</title>
  <meta name="description" content="Poet 2.0 - A Poetry Penerator">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="/static/css/style.css">

  <link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

</head>

<body style=" background: rgba(0, 0, 0, 0.7);">
  
  
    <div class="about-window" style="">
      
          <nav role="navigation">
            <div id="menuToggle" class="aboutNav">
              <input type="checkbox" />
              
              <span></span>
              <span></span>
              <span></span>
              
              <ul id="menu">
                <a href="/"><li>Poet 2.0 home</li></a>
                <a href="/display"><li>Generate Poem</li></a>
                <a href="/about"><li>About Poet 2.0</li></a>
              </ul>
            </div>
          </nav>



    <div class="about">
      
      <div class="about-head-container">

      <h1 class="about-h1">About Poet 2.0 </h1>
      
      </div>
      
      <div class="about_content">
      
      <p>Poet 2.0 is a Nelson Public Libraries project created as part of the New Zealand Poetry day celebrations.</p>

      <p>Poet 2.0 is based on a modified and extended version of Zack Schollz's Poem generator and incorporates the NodeBox linguistic module.</p>
      
      <p>This application has been created by Steve Nickalls (Senior Library Assistant, Nelson Public Libraries). It is freely available and open source</p>
      
    
      <p>Zacks GitHub: https://github.com/schollz/poetry-generator</p>
    
      <p>NodeBox: https://www.nodebox.net/code/index.php/Home</p>
      
      <p> Steve’s GitHub: https://github.com/snickalls/poet2.0</p>
      <p>****If reading this before August 2018 please note that this application is still under development. Iyt is constantly changing and being added to. SO don't judge the spaghetti code!****</p>
      
      <h2 class="about-h2">"A poet’s work is to name the unnameable, to point at frauds, to take sides, start arguments, shape the world, and stop it going to sleep. – Salman Rushdie"</h2>
    <!--<button type="button" class="btn btn-dark" id="exit_about" style="" onClick="javascript: window.location='/'">Exit About</button>-->


    <!--<button type="button" class="btn btn-light" id="new_poem_btn" style="" onClick="javascript: window.location='/display'">Generate Poem</button>     -->
     
     
     
      </div>
        
    </div>
        

  </div>



</body>
<script>
setTimeout(function(){
  document.location = window.history.back()}
,120000)
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">  </script>


<script>