<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Poem Generator</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="/static/css/style.css">
</head>

<body>

  <a style="box-shadow: none !important; margin-top: 15px; margin-left: 15px;" type="button" class="btn btn-outline-dark" href="/">Exit</a>

  <div class="window">
    <div class="titlebar">

      Poet 2.0 Output Window
      <!-- window title -->
    </div>
    <div class="content">
              <div id="typedtext"></div>
      <!-- window content -->
    </div>
  </div>



</body>
<script>
setTimeout(function(){
  document.location = document.referrer}
,120000)
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">  </script>
<script src='static/js/6.js'></script></html>