<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Poet 2.0 - The Poetry Generator</title>
  <meta name="description" content="Poet 2.0 - A Poetry Penerator">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400" rel="stylesheet">

</head>

<body>
  

  <div class="window">
    <!--<button type="button" class="btn btn-light" id="new_poem_btn" style="box-shadow: none !important; text-decoration: none; color:black" onClick="javascript: window.location='/display'">New Poem</button>-->
    <!--<button type="button" class="btn btn-dark" id="exit" onClick="javascript: window.location='/'">Exit Poet 2.0</button>-->


    <div class="titlebar">

      <p id="outputTitle">Poet 2.0 Output Window</p>
      <!-- window title -->
             <nav role="navigation">
            <div id="menuToggle" class="displaySpan">
              <input type="checkbox" />
              
              <span></span>
              <span></span>
              <span></span>
              
              <ul id="menu">
                <a href="/"><li>Poet 2.0 home</li></a>
                <a href="/display"><li>Generate Poem</li></a>
                <a href="/about"><li>About Poet 2.0</li></a>
              </ul>
            </div>
          </nav>
    </div>
        
    <div class="content">
      
              <div id="typedtext"></div>
      <!-- window content -->



 </div>

</body>
<script>
setTimeout(function(){
  document.location = window.history.back()}
,120000)
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">  </script>


<script>

// Replaces all instances of the given substring.
String.prototype.replaceAll = function( 
    strTarget, // The substring you want to replace
    strSubString // The string you want to replace in.
    ){
    var strText = this;
    var intIndexOfMatch = strText.indexOf( strTarget );
    
    // Keep looping while an instance of the target string
    // still exists in the string.
    while (intIndexOfMatch != -1){
        // Relace out the current instance.
        strText = strText.replace( strTarget, strSubString )
        
        // Get the index of any next matching substring.
        intIndexOfMatch = strText.indexOf( strTarget );
    }
    
    // Return the updated string with ALL the target strings
    // replaced out with the new substring.
    return( strText );
}



// set up text to print, each item in array is new line
// var aText = new Array("{{poem}}", );
var aText = "{{poem}}";
var iSpeed = 30; // time delay of print out
var iIndex = 0; // start printing array at this posision
var iArrLength = aText[0].length; // the length of the text array
var iScrollAt = 25; // start scrolling up at this many lines

var iTextPos = 0; // initialise text position
var sContents = ''; // initialise contents variable
var iRow; // initialise current row



function typewriter()
{
 sContents =  ' ';
 iRow = Math.max(0, iIndex-iScrollAt);
 
 var destination = document.getElementById("typedtext");
 
 
 

var removeANSII = aText.replaceAll("&#39;", "");
var reLeft = removeANSII.replaceAll("[", "");
var reRight = reLeft.replaceAll("]", "");
var reComma = reRight.replaceAll(",", "");



var newText = reComma.split("\n");



 while ( iRow < iIndex ) {
  sContents += newText[iRow++] + '<br />';
 }
 
 
 
 destination.innerHTML = sContents + newText[iIndex].substring(0, iTextPos) + "_";

 
 if ( iTextPos++ == iArrLength ) {
  iTextPos = 0;
  iIndex++;
  if ( iIndex != newText.length ) {
  iArrLength = newText[iIndex].length;
  setTimeout("typewriter()", 500);
  }
 } else {
  setTimeout("typewriter()", iSpeed);
 }
}




typewriter();

</script>