<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Poem Generator</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="/static/css/custom.css">
</head>
<body>

<div id="particles-js" style="z-index: 20;">


    {% block body %}

    {% endblock %}


</div>


<!-- scripts -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">  </script>
<script src="/static/particles.js"></script>
<script src="/static/js/app.js"></script>

</body>
</html>
